# [Workshop] Day1

### 배경 지식
- 데이터 타입, 조건문

아래에 명시된 조건을 따라 함수를 작성하세요.

### Q1

- 아래의 값을 저장하고 있는 myList 변수를 생성하세요.
    - [[1,2,3],[4,5,6],[7,8]]


- 9를 myList에 추가하여 아래의 값을 저장할 수 있도록 히세요.
    - [[1,2,3],[4,5,6],[7,8,9]]
    - append, insert 함수를 이용합니다.

In [15]:
myList = [[1,2,3],[4,5,6],[7,8]]
myList[2].append(9)

In [17]:
myList

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
myList = [[1,2,3],[4,5,6],[7,8]]
myList[2].insert(2,9)

In [22]:
myList

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Q2

- 학생들의 이름과 점수를 key와 value로 가지는 score 변수를 생성하세요.
    - 하준 90점, 서윤 86점, 지아 80점

- score 변수에 수지 95점을 추가하세요.

- score 변수에서 지아를 삭제하세요.

- score 변수에 기창 98점, 남철 60점, 기성 75점을 **한번에** 추가하세요.

In [24]:
score = {'하준':90, '서윤':86,'지아':80}
score['수지'] = 95

In [25]:
score.pop('지아')

80

In [28]:
score.update({'기창':98,'남철':60,'기성':75})

In [29]:
score

{'하준': 90, '서윤': 86, '수지': 95, '기창': 98, '남철': 60, '기성': 75}

### Q3
- 다음 리스트에서 중복된 항목을 제거하세요
```python
    numList = [1,3,2,3,7,6,8,4,10,5,3,8,9] ```

In [30]:
numList = [1,3,2,3,7,6,8,4,10,5,3,8,9]

In [33]:
numList = list(set(numList))
numList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Q4
- 다음의 세 문자에서 중복으로 사용된 알파벳만 출력하세요. 
    - 대소문자를 구분합니다.
```python
"Hello python"
"Funny programming"
"Happy newyear"```

In [56]:
for i in "Hello python":
    if i in "Funny programming" and i in "Happy newyear" and i.isalpha():
        print(i)

p
y
n

### Q5
- 다음과 같은 규칙을 가진 숫자의 합을 for문을 사용해서 구현하세요.
   - 1 + (1 + 3) + (1 + 3 + 5) + (1 + 3 + 5 + 7) + ... + (1 + 3 + ... + 19)

In [47]:
sum = 0
for i in range(10):
    sum += (i+1)**2
print(sum)

385